body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fff8e7;
}

/* HEADER */
.hero {
    text-align: center;
    padding: 30px;
    background: white;
}

.logo {
    width: 100px;
}

/* NAV */
nav {
    background: black;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
}

/* TARJETAS */
.card {
    max-width: 1000px;
    margin: 25px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

/* MENÚ */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.item {
    background: #ffe5b4;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

/* GALERÍA */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select {
    padding: 10px;
}

button {
    background: #e63946;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* ANIMACIÓN */
.fade {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.6s;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}

/* FOOTER */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}

.botones-contacto {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

/* Botones redes */
.social {
    padding: 10px 15px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.facebook {
    background: #1877f2;
}

.instagram {
    background: #e1306c;
}

.social:hover {
    opacity: 0.85;
}
